* {
  margin: 0;
  padding: 0;

}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  background-color: aquamarine;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  
}