/* estilo general */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
}

body {
  margin: 0 30px;
  color: rgb(144, 127, 255);
}
main {
  margin-bottom:30px ;
}
h2 {
  font-size: 30px;
}


/* header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  background-color: rgba(255, 255, 255, 0.687);
  margin-bottom: 30px;
  cursor: pointer;
}

/* header nav */
nav ul {
  list-style:none;
  color: rgb(233, 37, 161);
  display: flex;
  justify-content: space-around;
  gap: 30px;
  letter-spacing: 1px;
  
}
nav ul li a {
  color: rgb(238, 145, 216);
  transition: color 0.2s;
  text-decoration: none;
  
}
nav ul li a:hover {
  color:rgba(200, 255, 0, 0.837);
  
}

/* about section */
.about-text {
  display: flex;
  justify-content: left;
  margin: 20px;
  max-width: 1100px;
  
}

.about img {
  display: flex;
  float: right;
  border-radius: 100%;
  margin-left: 8px;
  margin-bottom: 8px;
}


/*projects section */
#projects {
  margin:20px
}



/* contact section */
.contact {
  margin:20px
}

/* footer */
footer {
  padding: 20px;
  margin-bottom: 40px;
  background-color: aqua;
}
/* social icons footer */

#social-icons {
  display: flex;
  justify-content:center;
  gap:30px;
  margin: 0;
  text-shadow:2px 2px 0px rgba(166, 163, 163, 0.75); 
}